{% extends "encyclopedia/layout.html" %}

{% block title %}
Search
{% endblock %}

{% block body %}
<h1 style="border-bottom: 1px solid grey; padding-top: 10px;">Search Results for "{{ query }}"</h1>
    <ul>
    {% if results|length == 1 %}
        <p>Found {{ results|length }} result</p>
    {% elif results|length > 1 %}
        <p>Found {{ results|length }} results</p>
    {% endif %}

    {% for result in results%}
        <li>
            <a href="{% url 'entry' result %}">{{ result }}</a>
        </li>
    {% empty %}
        <li>No results for {{ query }}</li>
    {% endfor %}
    </ul>
{% endblock %}